# ssh config example

Compression           yes
ConnectionAttempts    10
ConnectTimeout        60
ServerAliveInterval   40
TcpKeepAlive          yes

Ciphers         aes128-ctr,aes192-ctr,aes256-ctr
KexAlgorithms   diffie-hellman-group-exchange-sha256
MACs            hmac-sha2-512,hmac-sha2-256,hmac-ripemd160

# Host configuration

Host 192.168.*.*    172.26.*.*      !192.168.1.30
    User            omar
    ForwardAgent    yes
    BindAddress     10.8.0.10
    BindInterface   tun0
    Ciphers         +aes128-cbc,aes192-cbc,aes256-cbc
    Macs            +hmac-sha1-etm@openssh.com

Host tostapane
    User            ciro-esposito
    HostName        192.168.24.32
    RemoteForward   88
    Compression     no
    Port            2222

Host    192.168.1.30
    User            nutellaro
    RemoteForward   123
